doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Oswald:300,400,400i,700' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  title  LoanHouse | The Best Loans
// <section class="overview">
main.main
  .card-container
    .card
      .card__header
        .card__details
          h4.card__sub-heading New Account
          p.card__text
            | Already have an account?
          a(href='/login')
            button.card__sub-heading Login 
          p.card__text
            | Please enter the following Details
          if error
            p.card__text
              | Error: #{JSON.stringify(error)} 
          .card__data
            form(method='POST' enctype='application/x-www-form-urlencoded' action='/servlet/auth/signup')
              label(for='firstName') First name:
              input#firstName(type='text' name='firstName')
              br
              br
              label(for='lastName') Last name:
              input#lastName(type='text' name='lastName')
              br
              br
              label(for='email') Email:
              input#email(type='email' name='email')
              br
              br
              label(for='password') Password:
              input#password(type='password' name='password')
              br
              br
              label(for='passwordConfirm') Confirm Password:
              input#cpassword(type='password' name='passwordConfirm')
              br
              br
              input.card__sub-heading(type='submit' value='Submit')
