doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Oswald:300,400,400i,700' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  title  New Loans | The Latest Loans
header.header
  nav.nav.nav--courses
    a.nav__el(href='/loans') All loans
  .header__logo
    img(src='img/logo.png' alt='Loan logo')
  nav.nav.nav--user
    a.nav__el(href='/servlet/loans')
     button.nav__el My Loans
    a.nav__el(href='/newLoan')
     button.nav__el Create New Loan
    form(method="POST" action="/servlet/auth/logout")
      button.nav__el(type="submit") Logout
section.section-header
  h2.heading-secondary.ma-bt-lg About this Application
  p.description__text
    | An application to allow management of personal loans and calculate the present value (PV) of the loan
    | to a lender.
        
  p.description__text
    | Application uses JWT authentication and will only allow a logged in user to view loans that are associated with them. 
    | This limits access to only the responsible party for the loan and is enforced by JWT session and a user id tied to each
    | loan created.

  p.description__text
    | Your currently logged in user info is:
  ul
    li
      |First Name: #{user.firstName}
    li
      | Last Name: #{user.lastName}
    li 
      | Email: #{user.email}

  p.description__text
    | Create and view your loans from the menu bar above.

.footer
  .footer__logo
    img(src='img/logo.png' alt='Loan logo')
  ul.footer__nav
    li
      a(href='#') About us
    li
      a(href='#') Download Loan information
    li
      a(href='#') Apply For New Loan
    li
      a(href='#') Careers
    li
      a(href='#') Contact
  p.footer__copyright
    | &copy; by Student Learners.
